header
    padding 1% 10%
    background #f0ad4e
    border-bottom #eea236
    margin-bottom 50px
    box-shadow 0px 0px 15px 0px rgba(50, 50, 50, 0.15)

textarea
    resize none

.one-row input, .one-row textarea, .one-row .btn
    height 54px

.one-row textarea
    font-size 12px

.one-row .btn
    padding 14px
    width 54px
